@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a JAutoMulti</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img src="~/imagens/centralinas.webp" class="card-img-top" alt=".../">
                <div class="card-body">
                    <h5 class="card-title">Reparação de centralinas e sistemas eletricos</h5>
                    <p class="card-text">Reparamos modulos, centralinas, problemas eletricos</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/imagens/Oficina.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Serviço de manutenção e reparação</h5>
                    <p class="card-text">Fazemos a manutenção programada, reparamos pintura, batechapas, entre outros serviços... </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/imagens/PneusNovos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pneus</h5>
                    <p class="card-text">Pneus de qualidade, com calibração, e alinhmaneto dos pneus.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="~/imagens/turbos.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Turbos</h5>
                    <p class="card-text">Hibridamos turbos, reparamos e fazemos manutenções.</p>
                </div>
            </div>
        </div>
    </div>
</div>


