@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<head>
    <title>Identificação do Aluno</title>
</head>
<body>
    <h1>Identificação do Aluno</h1>
    <p><strong>Nome:</strong> João Paulo Ferreira Batista</p>
    <p><strong>Email:</strong> aluno21079@ipt.com</p>
    <p><strong>Instituição:</strong> Instituto Politécnico de Tomar</p>
    <p><strong>Disciplina:</strong> Desenvolvimento Web 2022-2023</p>
</body>