@page
@model RegisterModel
@{
    ViewData["Title"] = "Registar";
}

<h1>@ViewData["Title"]</h1>

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <h2>Criar nova Conta</h2>
        <hr />
        <div class="col-md-6">


            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-4">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-4">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirmar Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="Input.Proprietario.Nome" class="form-control" autocomplete="" aria-required="true" placeholder="" />
                <label asp-for="Input.Proprietario.Nome"></label>
                <span asp-validation-for="Input.Proprietario.Nome" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Proprietario.Sexo" class="form-control" autocomplete="" aria-required="true" placeholder="" />
                <label asp-for="Input.Proprietario.Sexo"></label>
                <span asp-validation-for="Input.Proprietario.Sexo" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Proprietario.NIF" class="form-control" autocomplete="" aria-required="true" placeholder="" />
                <label asp-for="Input.Proprietario.NIF"></label>
                <span asp-validation-for="Input.Proprietario.NIF" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Proprietario.Telemovel" class="form-control" autocomplete="" aria-required="true" placeholder="" />
                <label asp-for="Input.Proprietario.Telemovel"></label>
                <span asp-validation-for="Input.Proprietario.Telemovel" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Admin"))
            {

               @* <div class="form-floating mb-3">
                    <select asp-for="Input.RoleEscolhida" class="form-control" aria-required="true">
                        <option value="">Selecione uma opção</option>
                        <option value="ADMINISTRADOR">Admin</option>
                        <option value="PROFISSIONAL">Profissional</option>
                        <option value="CLIENTE">Cliente</option>
                    </select>
                    <label asp-for="Input.RoleEscolhida"></label>
                    <span asp-validation-for="Input.RoleEscolhida" class="text-danger"></span>
                </div>*@
       
                <div class="form-floating mb-3">
                    <input asp-for="Input.RoleEscolhida" class="form-control" autocomplete="" aria-required="true" placeholder="" />
                    <label asp-for="Input.RoleEscolhida"> Escolha o tipo de conta: Admin; Profissional; Cliente; </label>
                    <span asp-validation-for="Input.RoleEscolhida" class="text-danger"></span>
                    
                </div>

                <script>
                    document.querySelector('[name="Input.RoleEscolhida"]').addEventListener('change', function() {
                        var selectedOption = this.value;
                        if (selectedOption === 'Profissional') {
                            alert('Por favor, complete os dados da conta de Profissional quando completar o Registo.');
                        }
                    });
                </script>
                
            }
        </div>



        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    </div>
</form>






@*

external authentication services.
See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article about setting up this ASP.NET
application to support logging in via external services

*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
